doctype
html
    head
        title #{title}
        style 
            include style.css
    body
        header
            h1 #{title}
        .container
            .main-content
                block content
        footer
            p Running on node with Express, Jade, and PostGRES
