extend layout
block content
    form(method='post', action='/ua/login')
        p(id='error') #{errormsg}
        input(type='hidden', name='secret' value='iloveyou')
        input(type='submit', name='submit', value='(┛◉Д◉)┛彡┻━┻')