html, body {
    height:95%;
}

.container {
    min-height: 95%;
}

.container:after {
    display: block;
}

footer {
    position: relative;
    bottom: 0;
}

#error, .error {
    color:red;
}

#success, .success {
    color:blue;
}