extend layout
block content
    p(id='success',) #{success}
    form(method='post', enctype='multipart/form-data', action='/upload')
        input(type='file', name='upload', multiple="")
        br
        br
        input(type='submit', name='submit')
    br
    br
    if images
        each img in images
            image(src=img)
